.advantages-list__item {
  list-style: none;
  .center;
}

@media (min-width: @desktop-width) {
  .advantages-list__item {
    width: 252px;
  }
}

.advantages-list__header {
  .weight(@seven-hundred);
  .size(@eighteen);
  .lh(@twenty-four);
  color: @dark;
}

.advantages-list__content {
  .lh(@twenty-four);
  .center;
}

@media (min-width: @tablet-width) {
  .advantages-list__content {
    .left;
  }
}

@media (min-width: @desktop-width) {
  .advantages-list__content {
    .justify;
  }
}
