.contacts {
  &__wrapper {
    text-align: center;
  }

  &__leed {
    margin: 0;
    margin-top: 47px;
    font-weight: 300;
    font-size: 24px;
    line-height: 120%;
    text-align: center;
  }


  &__list {
    text-align: center;
  }

  &__header {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
  }

  &__content {
    font-weight: 300;
    font-size: 24px;
    line-height: 33px;
    color: @varnich;
  }
}
