.contacts {
  &__wrapper {
    .center;
  }

  &__leed {
    margin: 0;
    margin-top: 47px;
    .weight(@three-hundred);
    .size(@twenty-four);
    .lh(@twenty-nine);
    .center;
  }


  &__list {
    .center;
  }

  &__header {
    .weight(@seven-hundred);
    .size(@eighteen);
    .lh(@twenty-five);
  }

  &__content {
    .weight(@three-hundred);
    .size(@twenty-four);
    .lh(@thirty-three);
    color: @varnich;
  }
}
