.features {
  height: 1002px;
  background-color: @light;
}

.features__wrapper {
  .mobile-wrapper;
  background-color: @light;
}

.features__slogan {
  .center;
  color: @base-color;
  margin: 0;
  margin-top: 46px;
  .weight(@three-hundred);
  .size(@twenty-four);
  .lh(@twenty-nine);
}

.features__list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

@media (min-width: @tablet-width) {
  .features {
    height: 725px;
    background-color: @light;
  }

  .features__wrapper {
    .tablet-wrapper;
    background-color: @light;
    display: grid;
    grid-template-rows: 255px 547px;
    grid-template-columns: 310px 310px;
  }

  .features__slogan {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 3;
    margin-top: 58px;
    .weight(@three-hundred);
    .size(@thirty + 10);
    .lh(@twenty-four + 30);
  }

  .features__slogan:nth-of-type(2) {
    margin-top: 0;
  }

  .features__list {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
  }
}

@media (min-width: @desktop-width) {
  .features {
    height: 933px;
    background-color: @light;
  }

  .features__wrapper {
    .desktop-wrapper;
    background-color: @light;
    display: flex;
    flex-direction: column;
  }

  .features__slogan {
    margin-top: 77px;
    .weight(@three-hundred);
    .size(@twenty-five + @twenty-five);
    .lh(@eighteen + 50);
  }

  .features__slogan:nth-of-type(2) {
    margin-top: 0;
  }

  .features__list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}
