.main-page__slogan {
  height: 373px;
  padding-top: 87px;
  background-color: @temporarily;
  margin-top: -66px;

  @media (min-width: @tablet-width) {
    background-color: transparent;
    height: 517px;
    padding-top: 203px;
    margin-top: -115px;
  }

  @media (min-width: @desktop-width) {
    height: 582px;
    padding-top: 214px;
  }
}
