.page-header {
  background-color: fade(@dark, 30%);
  height: 66px;
}

@media (min-width: @tablet-width) {
  .page-header {
    height: 110px;
    background-color: fade(@dark, 30%);
  }
}

@media (min-width: @desktop-width) {
  .page-header {
    background-color: fade(@dark, 30%);
  }
}
