.quote {
  &__author {
    display: block;
    text-align: center;
    color: @dark;
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
    font-style: normal;
    margin-top: 45px;
  }

  &__data--existence {
    display: none;
  }

  &__text {
    font-weight: 400;
    line-height: 30px;
    text-align: center;
  }
}
