.slogan {
  background-color: @temporarily;
}

.slogan__wrapper {
  width: 280px;
  padding: 0 20px;
  margin: 0 auto;
  background-color: @temporarily;
  height: inherit;
}

@media (min-width: @tablet-width) {
  .slogan__wrapper {
    width: 620px;
    padding: 0 20px;
    margin: 0 auto;
  }
}

@media (min-width: @desktop-width) {
  .slogan__wrapper {
    width: 940px;
    padding: 0 10px;
    margin: 0 auto;
    height: inherit;
  }
}

.slogan__leed {
  color: @light;
  .center;
  .size(@twenty-four);
  .weight(@three-hundred);
  .lh(@twenty-nine);
  margin: 0;
  padding: 0;
  position: absolute;
  top: 95px;
}

@media (min-width: @tablet-width) {
  .slogan__leed {
    .center;
    color: @light;
    .size(@sixteen + @twenty-four);
    .lh(@twenty-four + @twenty-four);
    margin: 0;
    padding: 0;
    width: 300px;
    position: absolute;
    top: 212px;
  }
}

@media (min-width: @desktop-width) {
  .slogan__leed {
    .center;
    color: @light;
    .size(@twenty-five + @twenty-five);
    .lh(@eighteen + 50);
    position: absolute;
    top: 224px;
  }
}
