.store {
  background-color: @back-blue;
  padding-top: 28px;
}

.store__install {
  display: block;
  background-color: transparent;
  border: 3px solid @light;
  border-radius: 29px;
  color: @light;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
}

.store__explanation {
  text-align: center;
  color: @light;
  font-weight: 300;
  line-height: 24px;
}
