.center {
  text-align: center;
}

.uppercase {
  text-transform: uppercase;
}

//Font

.size (@value) {
  font-size: @value;
}

.lh (@value) {
  line-height: @value;
}

.weight(@weight) {
  font-weight: @weight;
}
